@import url("https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&family=Titillium+Web:ital,wght@0,400;0,600;1,400;1,600&display=swap");

/* ! Reset CSS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

::-webkit-scrollbar {
  display: none;
}

::placeholder {
  color: rgb(252, 167, 30);
  opacity: 0.9; /* Firefox */
}

input:focus {
  outline: 1px solid rgba(224, 221, 221, 0.551);
}

/* ? Reset CSS end */

body {
  font-family: "Shantell Sans", cursive;
}

.main {
  width: 100%;
  height: 100%;
  background-image: url(./img/registerPhoto.jpg);
  position: absolute;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.form-box {
  width: 30vw;
  height: calc(280px + 37vh);
  position: relative;
  border: 1px solid rgba(171, 171, 171, 0.551);
  border-radius: 20px;
  background-color: rgba(30, 30, 30, 0.345);
  margin: 10vh auto;
  color: rgb(244, 241, 241);
  padding: 12px;
  font-family: "Shantell Sans", cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

form {
  margin-top: 12px;
  min-height: 40vh;
}

.button-box {
  position: relative;
  display: flex;
  width: 304px;
  height: 50px;
  margin: 3vh auto 2vh auto;
  border: 1px solid rgba(198, 196, 196, 0.345);
  border-radius: 30px;
  background-color: rgba(30, 30, 30, 0.345);
}

.button-box button:nth-child(3) {
  color: whitesmoke;
}

.toggle-btn {
  position: relative;
  background-color: transparent;
  padding: 10px 40px;
  color: #070606;
  font-size: 20px;
  cursor: pointer;
  font-weight: 600;
  text-align: inherit;
  border: none;
  outline: none;
  font-family: inherit;
}

#swapBg {
  position: absolute;
  top: 0;
  left: 0;
  width: 149px;
  height: 50px;
  border-radius: 30px;
  background: #fb9230;
  transition: ease-in-out 1s;
}

.welcome {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(2vh + 10px);
  margin: 20px auto;
  transition: ease-in-out 0.5s;
}

.input-group {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 26vw;
  position: absolute;
  top: 20vh;
  transition: ease-in-out 1s;
}

.top-of-form {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.top-of-form  > li > input {
  width: 12vw;
}

.input-field {
  background-color: transparent;
  border: 1px solid rgba(224, 221, 221, 0.551);
  padding: 10px 8px;
  color: whitesmoke;
  font-family: inherit;
  width: 25vw;
  border-radius: 5px;
  letter-spacing: 1px;
  margin-top: 3vh;
  font-size: 15px;
}

#policy {
  margin: 10px 0 0 0;
  color: #f5bd31;
  padding-left: 12px;
  text-decoration: inherit;
  font-size: 14px;
}

#btnLi { 
  
  width: calc(15vw + 200px);
  height: calc(10vh + 30px);
  display: flex;
  align-items: center;
  justify-content: center;
}


#btnLi2 { 
  width: calc(15vw + 200px);
  height: calc(30vh + 30px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.submit-btn {
  /* position: absolute;
  top: calc(130px + 20vh);
  left: 2vw; */
  background-color: #f8c032c6;
  color: #070606;
  border: 2px solid #07060677;
  font-family: inherit;
  font-size: 4vh;
  padding: 1.3vh 4vw;
  letter-spacing: 0.1vw;
  border-radius: 10px;
  transition: ease-in-out 0.5s;
  transition-property: background-color, color, border, letter-spacing;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #f8c032;
  color: #070606;
  border: 2px solid #070606;
  letter-spacing: 5px;
}

.submit-btn:active {
  transform: translateY(-1%) translateX(-0.2%);
}

footer {
  position: absolute;
  top: 92%;
  left: 0;
  display: flex;
  justify-content: center;
  width: 100vw;
  gap: 30px;
}

lottie-player {
  width: 6vh;
  height: 6vh;
  filter: invert(71%) sepia(23%) saturate(3922%) hue-rotate(336deg)
    brightness(100%) contrast(98%);
}

#logIn {
  left: 40vw;
}

#forgetPassword {
  margin: 10px 0 0 0;
  color: #f5bd31;
  font-weight: 600;
  text-decoration: inherit;
  font-size: calc(1vh + 9px);
  position: absolute;
  top: calc(50px + 13vh);
  left: calc(38px + 13.9vw);
}

#forgetPassword:active {
  transform: translateY(2%);
}

/* ! form validation error msg */

small { 
  transition: all ease-in-out 0.5;
}

.error-msg { 
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 600;
  transform: translateY(2px);  
}

.error { 
  border: solid 1px #070606;
}
